html {
    box-sizing: border-box;
}

.nav-bar {
}
.nav-item {
    list-style: none;
    text-decoration: none;
}

h1 {
    text-align: center;
}

.about-info {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1em;
}

.about-box {
    width: 80%;
    border: 2px black solid;
    border-radius: 2em;
    margin: 0 auto;
}

.about-buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}

.about-button {
    width: 15em;
    margin: 0 10px;
}